<h1 nz-typography>北京林业大学人工智能学院 2020 年优秀大学生夏令营</h1>

<span nz-typography>活动时间：2020年7月9日-10日</span>

<span nz-typography>报名截止：2020年6月30日</span>

<h2 nz-typography>1、学院简介</h2>

<span nz-typography>人工智能学院前身为信息科学与技术学院，为北京林业大学与中国电子科技集团合作共建。人工智能学院植根于北京林业大学百年沃土，结合中国电子科技集团国家央企的使命责任，以“博学慎思，知行合一”为发展理念，弘扬“文理兼修、鼎承国器”的家国使命情怀，实现中国电子科技集团与北京林业大学的“双向开放、双向融入”，构建人工智能领域国际一流的教育平台和科研平台，努力成为北京林业大学“双一流”建设的有力支撑和重要标志。人工智能学院设有四个硕士研究生专业：通信与信息系统、信号与信息处理、计算机软件和理论、计算机应用技术。</span>

<h2 nz-typography> 2、夏令营安排 </h2>

<span nz-typography>人工智能学院将于2020年7月9日-7月10日举办优秀大学生夏令营活动，欢迎有意保送我院读研的优秀大学生报名参加。活动期间，学院将安排学术报告、实验室介绍、师生交流等丰富活动，并对营员进行推免考核。经过夏令营考核合格并通过材料审核的营员，学院可与其签署预录取协议。</span>

<span nz-typography>由于疫情原因，本届夏令营采用网络远程在线的形式进行，进一步安排请关注我院网站通知。</span>

<h2 nz-typography>3、申请条件</h2>
<ul>
  <li>1）全国高校计算机、电子、通信、物理、数学等相关专业、将于2021年7月毕业的在校本科生；</li>
  <li>2）学习成绩排名前列、能够获得所在学校的推免资格。</li>
</ul>

<h2 nz-typography>4、申请材料</h2>

<span nz-typography>申请人请于2020年6月30日前，登录北京林业大学夏令营申请系统(http://xly.bjfu.edu.cn/ )在线提交申请，通过附件上传以下材料：</span>
<br/>
<br/>
<ul>
  <li>1）本科阶段成绩单和成绩排名（需由院系或教务部门盖章）；</li>
  <li>2）个人陈述1份（模板见学院主页通知附件）；</li>
  <li>3）专家推荐信1份（模板见学院主页通知附件）；</li>
  <li>4）获奖证书扫描件；</li>
  <li>5）英语水平证明（成绩单）扫描件；</li>
  <li>6）发表文章或研究成果扫描件。</li>
</ul>

<h2 nz-typography>5、联系方式</h2>

<span nz-typography>联系人：王老师</span>
<br/>
<br/>
<span nz-typography>联系电话：010-12345678</span>
<br/>
<br/>
<span nz-typography>电子邮箱：ai@bjfu.edu.cn(请实名咨询)</span>
<br/>
<br/>
<span nz-typography>北京林业大学人工智能学院</span>
<br/>
<br/>
<span nz-typography>2020年6月10日</span>
<br/>
<br/>
